<ion-header>

  <ion-navbar>
    <ion-title>Nouvelle PA/SA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>


    <form #pspaForm="ngForm" novalidate>
      <div *ngIf="step==1">
        <ion-item>
          <ion-label primary>Site</ion-label>
          <ion-input [(ngModel)]="pspa.site.label" type="text" readonly>
          </ion-input>
        </ion-item>


        <ion-item>
          <ion-label primary> Autheur</ion-label>
          <ion-input [(ngModel)]="pspa.author.firstname+' '+pspa.author.lastname" type="text" readonly>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>Date de l'événement</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="pspa.date" ngControl="date" #date="ngForm" required></ion-datetime>
        </ion-item>
        <p [hidden]="date.valid || submitted == false" danger padding-left>
          Le champ Date de l'événement est obligatoire
        </p>


        <ion-item>
          <ion-label primary>Evénement remonté par:</ion-label>
          <ion-input [(ngModel)]="pspa.remonted_by" ngControl="remonted_by" type="text" #remonted_by="ngForm" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        <p [hidden]="remonted_by.valid || submitted == false" danger padding-left>
          Le champ Evénement remonté par est obligatoire
        </p>

        <ion-item>
          <ion-label primary> Fonction</ion-label>
          <ion-select [(ngModel)]="pspa.fonction" ngControl="fonction" #fonction="ngForm" required>
            <ion-option *ngFor="let item of fonctions" [value]="item.id" [checked]="false">{{item.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="fonction.valid || submitted == false" danger padding-left>
          Le champ Fonction est obligatoire
        </p>

        <ion-item>
          <ion-label primary> Statut de la personne</ion-label>
          <ion-select [(ngModel)]="pspa.status" ngControl="status" #status="ngForm" required>
            <ion-option *ngFor="let item of statues" [value]="item" [checked]="false">{{item.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="status.valid || submitted == false" danger padding-left>
          Le champ Statut de la personne est obligatoire
        </p>

        <ion-item [hidden]=" pspa.status==undefined || pspa.status.label == 'Lafarge'">
          <ion-label primary>Nom de l'entreprise:</ion-label>
          <ion-input [(ngModel)]="pspa.company_name" ngControl="company" type="text" #company="ngForm" spellcheck="false" autocapitalize="off">
          </ion-input>
        </ion-item>
        <p [hidden]="company.valid || submitted == false " danger padding-left>
          Le champ Nom de l'entreprise est obligatoire
        </p>

        <ion-row responsive-sm>
          <ion-col>
          	<center>              
            <button (click)="nextStep(pspaForm)" light><ion-icon name="arrow-forward"></ion-icon></button>
           </center>      
          </ion-col>
        </ion-row>
      </div>


      <div *ngIf="step==2">

        <ion-item>
          <ion-label primary>Presque Accident/Situation Anormale</ion-label>
          <ion-toggle [(ngModel)]="pspa.type"></ion-toggle>
        </ion-item>



        <ion-item>
          <ion-label primary>Ent./Pers. impliquée</ion-label>
          <ion-toggle [(ngModel)]="pspa.ent_pers_imp"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label primary>Matériel impliqué</ion-label>
          <ion-toggle [(ngModel)]="pspa.material_imp"></ion-toggle>
        </ion-item>

        <ion-item [hidden]="pspa.material_imp == false">
          <ion-label primary>Materiels:</ion-label>
          <ion-input [(ngModel)]="pspa.material" ngControl="material" type="text" #material="ngForm" spellcheck="false" autocapitalize="off">
          </ion-input>
        </ion-item>
        <p [hidden]="material.valid || submitted == false " danger padding-left>
          Le champ Materiels sest obligatoire
        </p>

        <ion-item>
          <ion-label primary> Zone</ion-label>
          <ion-select [(ngModel)]="pspa.zone" ngControl="zone" #zone="ngForm" required>
            <ion-option *ngFor="let zone of zones" [value]="zone.id" [checked]="false">{{zone.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="zone.valid || submitted == false" danger padding-left>
          Le champ Zone est obligatoire
        </p>
        <ion-row responsive-sm>
          <ion-col>
            <center>              
            <button (click)="previousStep(pspaForm)" light><ion-icon name="arrow-back"></ion-icon></button>
            <button (click)="nextStep(pspaForm)" light><ion-icon name="arrow-forward"></ion-icon></button>
            </center>      
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="step==3">
        <ion-item>
          <ion-label primary>Description</ion-label>
          <ion-textarea [(ngModel)]="pspa.description" rows="8" placeholder="description..." ngControl="description" #description="ngForm"
            spellcheck="false" required>
          </ion-textarea>

        </ion-item>
        <p [hidden]="description.valid || submitted == false" danger padding-left>
          Le champ Description est obligatoire
        </p>

        <ion-row responsive-sm>
          <ion-col>
          <center>              
            <button (click)="previousStep(pspaForm)" light><ion-icon name="arrow-back"></ion-icon></button>

            <button (click)="nextStep(pspaForm)" light><ion-icon name="arrow-forward"></ion-icon></button>
          </center>      
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="step==4">
        <ion-item>
          <ion-label primary>Action Immédiate</ion-label>
          <ion-textarea [(ngModel)]="pspa.action" rows="6" placeholder="Action immédiate..." ngControl="action" #action="ngForm" spellcheck="false"
            required>
          </ion-textarea>

        </ion-item>
        <p [hidden]="action.valid || submitted == false" danger padding-left>
          Le champ Action Immédiate est obligatoire
        </p>

        <ion-item>
          <ion-label primary>Proposition de solution</ion-label>
          <ion-textarea [(ngModel)]="pspa.solution" rows="6" placeholder="Solution proposée..." ngControl="solution" #solution="ngForm"
            spellcheck="false" required>
          </ion-textarea>

        </ion-item>
        <p [hidden]="solution.valid || submitted == false" danger padding-left>
          Le champ Proposition de solution est obligatoire
        </p>


        <ion-row responsive-sm>
          <ion-col>
            <center>              
            <button (click)="previousStep(pspaForm)" light><ion-icon name="arrow-back"></ion-icon></button>
            <button (click)="nextStep(pspaForm)" light><ion-icon name="arrow-forward"></ion-icon></button>
           </center>      
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="step==5">
        <ion-item>
          <ion-label primary> Risque</ion-label>
          <ion-select [(ngModel)]="pspa.risk" ngControl="risk" #risk="ngForm" required (ionChange)="updateSubRisks($event)">
            <ion-option *ngFor="let risk of risks" [value]="risk.id" [checked]="false">{{risk.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="risk.valid || submitted == false" danger padding-left>
          Le champ risque est obligatoire
        </p>

        <ion-item>
          <ion-label primary> Sous-risque</ion-label>
          <ion-select [(ngModel)]="pspa.sub_risk" ngControl="sub_risk" #sub_risk="ngForm" required>
            <ion-option *ngFor="let sub of subrisks" [value]="sub.id" [checked]="false">{{sub.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="sub_risk.valid || submitted == false" danger padding-left>
          Le champ Sous-risque est obligatoire
        </p>
        <ion-item>
          <ion-range primary min="1" max="4" step="1" snaps="true" (ionChange)="setRiskQualification()" [(ngModel)]="pspa.risque_qualification" >
            <ion-label secondary range-left>Faible</ion-label>
            <ion-label range-right dark>Noir</ion-label>
          </ion-range>
         
        </ion-item>
        <p [ngClass]="risque_qualification.class"  *ngIf="pspa.risque_qualification">
          <center><b>{{risque_qualification.label}}</b></center>
        </p>



        <ion-row responsive-sm>
          <ion-col>
          <center>              
            <button (click)="previousStep(pspaForm)" light><ion-icon name="arrow-back"></ion-icon></button>
            <button (click)="nextStep(pspaForm)" light><ion-icon name="arrow-forward"></ion-icon></button>
          </center>      
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="step==6">
        <ion-card>
          <ion-card-header>
            Ajouter des photos
          </ion-card-header>
          <ion-card-content>
            <button primary clear (click)="takePicture()"><ion-icon name="camera"></ion-icon>Prendre</button>
            <button primary clear (click)="uploadPicture()"><ion-icon name="folder-open"></ion-icon>Ouvrir</button>
            
            <ion-list *ngIf="base64Images">
              <ion-list-header>
                Images ajoutées
              </ion-list-header>
              <ion-item *ngFor="let base64Image of base64Images">
                <img [src]="base64Image" />
              </ion-item>
            </ion-list>
            <ion-row responsive-sm>
              <ion-col>
                <center>                  
                  <button (click)="previousStep(pspaForm)" light><ion-icon name="arrow-back"></ion-icon></button>
                  <button (click)="Done(pspaForm)" primary><ion-icon name="done-all"></ion-icon>Valider</button>
                </center>      
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>

      </div>
    </form>
  </ion-list>

</ion-content>