<ion-header>

  <ion-navbar>
    <ion-title>Nouvelle PA/SA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>


    <form #pspaForm="ngForm" novalidate>
      <div *ngIf="step==1">
        <ion-item>
          <ion-label primary>Site</ion-label>
          <ion-input [(ngModel)]="pspa.site.label" type="text" readonly>
          </ion-input>
        </ion-item>


        <ion-item>
          <ion-label primary> Autheur</ion-label>
          <ion-input [(ngModel)]="pspa.author.firstname+' '+pspa.author.lastname" type="text" readonly>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary>Date de l'événement</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="pspa.date" ngControl="date" #date="ngForm" required></ion-datetime>
        </ion-item>
        <p [hidden]="date.valid || submitted == false" danger padding-left>
          Le champ Date de l'événement est obligatoire
        </p>


        <ion-item>
          <ion-label primary>Evénement remonté par:</ion-label>
          <ion-input [(ngModel)]="pspa.remontedBy" ngControl="remontedBy" type="text" #remontedBy="ngForm" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>

        </ion-item>
        <p [hidden]="remontedBy.valid || submitted == false" danger padding-left>
          Le champ Evénement remonté par est obligatoire
        </p>

        <ion-item>
          <ion-label primary> Fonction</ion-label>
          <ion-select [(ngModel)]="pspa.fonction" ngControl="fonction" #fonction="ngForm" required>
            <ion-option *ngFor="let item of fonctions" [value]="item.id" [checked]="false">{{item.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="fonction.valid || submitted == false" danger padding-left>
          Le champ Fonction est obligatoire
        </p>

        <ion-item>
          <ion-label primary> Statut de la personne</ion-label>
          <ion-select [(ngModel)]="pspa.status" ngControl="status" #status="ngForm" required>
            <ion-option *ngFor="let item of statues" [value]="item.id" [checked]="false">{{item.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="status.valid || submitted == false" danger padding-left>
          Le champ Statut de la personne est obligatoire
        </p>
        <ion-row responsive-sm>
          <ion-col>
            <button (click)="nextStep(pspaForm)" primary block><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
        </ion-row>
      </div>


      <div *ngIf="step==2">

        <ion-item>
          <ion-label primary>Presque Accident/Situation Anormale</ion-label>
          <ion-toggle [(ngModel)]="pspa.type"></ion-toggle>
        </ion-item>



        <ion-item>
          <ion-label primary>Ent./Pers. impliquée</ion-label>
          <ion-toggle [(ngModel)]="pspa.other"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label primary>Matériel impliqué</ion-label>
          <ion-toggle [(ngModel)]="pspa.material"></ion-toggle>
        </ion-item>

        <ion-row responsive-sm>
          <ion-col>
            <button (click)="previousStep(pspaForm)" primary block><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col>
            <button (click)="nextStep(pspaForm)" primary block><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="step==3">
        <ion-item>
          <ion-label primary>Description</ion-label>
          <ion-textarea [(ngModel)]="pspa.description" rows="8" placeholder="description..." ngControl="description" #description="ngForm"
            spellcheck="false" required>
          </ion-textarea>

        </ion-item>
        <p [hidden]="description.valid || submitted == false" danger padding-left>
          Le champ Description est obligatoire
        </p>

        <ion-row responsive-sm>
          <ion-col>
            <button (click)="previousStep(pspaForm)" primary block><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col>
            <button (click)="nextStep(pspaForm)" primary block><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="step==4">
        <ion-item>
          <ion-label primary>Action Immédiate</ion-label>
          <ion-textarea [(ngModel)]="pspa.action" rows="6" placeholder="Action immédiate..." ngControl="action" #action="ngForm" spellcheck="false"
            required>
          </ion-textarea>

        </ion-item>
        <p [hidden]="action.valid || submitted == false" danger padding-left>
          Le champ Action Immédiate est obligatoire
        </p>

        <ion-item>
          <ion-label primary>Proposition de solution</ion-label>
          <ion-textarea [(ngModel)]="pspa.solution" rows="6" placeholder="Solution proposée..." ngControl="solution" #solution="ngForm"
            spellcheck="false" required>
          </ion-textarea>

        </ion-item>
        <p [hidden]="solution.valid || submitted == false" danger padding-left>
          Le champ Proposition de solution est obligatoire
        </p>


        <ion-row responsive-sm>
          <ion-col>
            <button (click)="previousStep(pspaForm)" primary block><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col>
            <button (click)="nextStep(pspaForm)" primary block><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="step==5">
        <ion-item>
          <ion-label primary> Risque</ion-label>
          <ion-select [(ngModel)]="pspa.risk" ngControl="risk" #risk="ngForm" required (ionChange)="updateSubRisks($event)">
            <ion-option *ngFor="let risk of risks" [value]="risk.id" [checked]="false">{{risk.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="risk.valid || submitted == false" danger padding-left>
          Le champ risque est obligatoire
        </p>

        <ion-item>
          <ion-label primary> Sous-risque</ion-label>
          <ion-select [(ngModel)]="pspa.sub_risk" ngControl="sub_risk" #sub_risk="ngForm" required>
            <ion-option *ngFor="let sub of subrisks" [value]="sub.id" [checked]="false">{{sub.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p [hidden]="sub_risk.valid || submitted == false" danger padding-left>
          Le champ Sous-risque est obligatoire
        </p>
        <ion-item>
          <ion-range min="1" max="4" step="1" snaps="true" [(ngModel)]="pspa.risque_qualification" danger>
            <ion-label secondary range-left>Faible</ion-label>
            <ion-label range-right danger>Noir</ion-label>
          </ion-range>
        </ion-item>
        <p primary *ngIf="pspa.risque_qualification">
          <center>{{risque_qualifications[pspa.risque_qualification-1]}}</center>
        </p>



        
        <ion-row responsive-sm>
          <ion-col>
            <button (click)="previousStep(pspaForm)" primary block><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col>
            <button (click)="nextStep(pspaForm)" primary block><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="step==8">
        <ion-card>
          <ion-card-header>
            Ajouter des photos
          </ion-card-header>
          <ion-card-content>
            <button primary clear (click)="takePicture()"><ion-icon name="folder-open"></ion-icon>Prendre</button>
            <button primary clear (click)="uploadPicture()"><ion-icon name="camera"></ion-icon>Ouvrir</button>

            <ion-list *ngIf="base64Images">
              <ion-list-header>
                Images ajoutées
              </ion-list-header>
              <ion-item *ngFor="let base64Image of base64Images">
                <img [src]="base64Image" />
              </ion-item>
            </ion-list>




          </ion-card-content>
        </ion-card>

      </div>
    </form>
  </ion-list>

</ion-content>