<ion-header>

  <ion-navbar>
    <ion-title>Visualiser un rapport</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding  *ngIf="lines">
  <ion-list>

    <form #searchForm="ngForm" novalidate>
      <ion-item>
        <ion-label primary> Ligne Produit</ion-label>
        <ion-select [(ngModel)]="report.line" ngControl="line" #line="ngForm" required (ionChange)="updateAgencies($event)">
            <ion-option *ngFor="let line of lines" [value] = "line" [checked]="false">{{line.label}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label primary> Agence/Secteur/Usine</ion-label>
        <ion-select [(ngModel)]="report.agency" ngControl="agency" #agency="ngForm" (ionChange)="updateSites($event)" required>
          <ion-option *ngFor="let agency of agencies" [value] = "agency" [checked]="false">{{agency.label}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label primary> Site</ion-label>
        <ion-select [(ngModel)]="report.site" ngControl="site" #site="ngForm" required>
          <ion-option *ngFor="let site of sites" [value] = "site" [checked]="false">{{site.label}}</ion-option>
        </ion-select>
      </ion-item>

      <p [hidden]="site.valid || submitted == false" padding-left>
        Choisir une ligne de produit, une agence et un site
      </p>

      <ion-row responsive-sm>
        <ion-col>
          <center>  
          <button outline (click)="getResults(searchForm)" ><ion-icon name="search"></ion-icon>Search</button>
          </center>        
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

<ion-list>
   <ion-list-header>
    Résultats
   </ion-list-header>
  <ion-item *ngFor="let report of results" (click)="consultReport(report)">
        <h3>Rapport PA/SA : {{report.line}} - {{report.agency}} - {{report.site}} </h3>
        <p>Date : {{report.date}}</p>
  </ion-item>
</ion-list>
</ion-content>