<ion-header>

  <ion-navbar>
    <ion-title>Mes rapport</ion-title>
  </ion-navbar>
<button *ngIf="showButton" (click)="scrollToTop(1000)">
    Défiler vers le haut
    <ion-icon name="ion-chevron-up"></ion-icon>
  </button>
<!-- Scroll Top -->   
</ion-header>

<ion-navbar *navbar>
    <ion-title>
        Mes rapport *
    </ion-title>
</ion-navbar>

<ion-content class="report-list">
   
    <!--ion-list [virtualScroll]="reports" approxItemHeight="50px">
        <ion-item *virtualItem="#report">
              <h2>{{report.id}}</h2>
              <h3>Rapport PA/SA : {{report.line}} - {{report.agency}} - {{report.site}} </h3>
              <p>Date : {{report.date}}</p>
        </ion-item>
    </ion-list-->
    
 <!--ion-list [virtualScroll]="reports">

  <ion-item *virtualItem="let report">
    {{ report.line }} {{ report.agency }}
    <h3>Rapport PA/SA : {{report.line}} - {{report.agency}} - {{report.site}} </h3>
  </ion-item-->
  
 <ion-list>
   
      <button ion-item *ngFor="let report of reports" (click)="consultReport(report)">
        <h3>Rapport PA/SA : {{report.line}} - {{report.agency}} - {{report.site}} </h3>
        <p>Date : {{report.date}}</p>
     </button>
 </ion-list>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>


</ion-content>