<ion-header>
  <ion-navbar hideBackButton small>
    <ion-title>Accueil</ion-title>
    <ion-buttons end>
      <button (click)="doLogout()">
   <ion-icon name="power"></ion-icon>
 </button>
    </ion-buttons>
  </ion-navbar>
  <!--div id="user">
    <ion-icon name="person"></ion-icon>
    {{user.username}}
  </div-->
</ion-header>


<ion-content padding>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="img/user-1.jpeg">
      </ion-thumbnail>
      <!--ion-avatar item-left>
        <img src="img/fonts-header.png">
      </ion-avatar-->
      <h2>Idir Idir</h2>
      <p>{{user.username}}</p>
      <!--button clear item-right>View</button-->
      <button outline item-right (click)="goToAccountPage(user)">
        <!--ion-icon name="more"></ion-icon-->
        Mon compte
    </button>
  </ion-item>
  <ion-item-divider light>Mes rapports</ion-item-divider>
    <!--ion-item light>
      <div class="bar bar-header bar-stable">
        <h1 class="title">Mes rapports</h1>
      </div>
    </ion-item-->
    
    <ion-card *ngFor="let report of reports" class="report">
      <ion-list>
        <!--button ion-item *ngFor="let session of report.sessions" (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
        </button-->
        <!--button ion-item (click)="goToReportDetail(report)"-->
        <button ion-item>
          <h3>Rapport PA/SA : {{report.line}} - {{report.agency}} - {{report.site}} </h3>
          <p>Date : {{report.date}}</p>
        </button>
      </ion-list>

       <!--ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll-->
  </ion-card>

  <!--ion-img src="img/fonts-header.png" width="100%" height="auto"></ion-img-->

</ion-content>


<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>